ol, ul {
  padding-left: 2vw;
}

.game {
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items:flex-start;
}

.game-extended{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
}

.game-info-board{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}

.game-info {
  margin-bottom: 2.5vw;
  font-size:3vw;
  display:flex;
  font-weight:bold;
}

.reset-button{
  margin-top:5vw;
  border: 0.5vw solid #a5a3a3;
  font-size: 2.5vw;
  line-height: 2.5vw;
  color: #282c34;
  background-color: #a5a3a3;
  font-weight:bolder;
}

.moves-list-extended{
  margin-top: 4.5vw;
  display:flex;
  flex-direction:column-reverse;
  justify-content:space-evenly;
  align-items:flex-start;
}

.moves-list-button{
  border: 0.2vw solid #282c34;
  font-size: 1.4vw;
  font-weight:normal;
  line-height: 2vw;
  color: #282c34;
  background-color: #a5a3a3;
}

.desc-button{
  font-weight:normal;
  font-size:1.2vw;
  /* margin-top: 1vw; */
}

.check-box{
  /* margin-left:-1.5vw; */
  margin-right:1vw;
} 
