ol, ul {
  padding-left: 0px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:flex-center;
}

.game-extended{
  display:flex;
  flex-direction:column-reverse;
  align-items:center;
  justify-content:space-between;
}

.game-info-board{
  display:flex;
  flex-direction:column-reverse;
  justify-content:space-between;
  align-items:center;
}

.game-info {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size:11px;
  display:flex;
  font-weight:bold;
}

.reset-button{
  /* margin-top:20px; */
  margin-bottom:40px;
  border: 2px solid #a5a3a3;
  font-size: 14px;
  line-height: 14px;
  color: #282c34;
  background-color: #a5a3a3;
  font-weight:bolder;
}

.moves-list-extended{
  /* margin-left: 30px; */
  display:flex;
  flex-direction:column-reverse;
  justify-content:center;
  align-items:center;
}

.moves-list-button{
  margin-left: 2px;
  border: 2px solid #282c34;
  font-size: 10px;
  font-weight:normal;
  line-height: 13px;
  color: #282c34;
  background-color: #a5a3a3;
}

.desc-button{
  font-weight:bold;
  font-size:8px;
  margin-right: 15px;
}

.check-box{
  /* margin-left:10px; */
  margin-right:5px;
} 
