.square {
  background: #a5a3a3;
  border: 5px solid #282c34;
  float: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin-right: 2px;
  margin-top: -2px;
  margin-bottom:2px;
  margin-left: -2px;
  padding: 0;
  text-align: center;
  width: 64px;
  color: #282c34;
}

.square-winner {
  background: #a5a3a3;
  border: 5px solid #ac6413;
  float: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin-right: 2px;
  margin-top: -2px;
  margin-bottom:2px;
  margin-left: -2px;
  padding:0;
  text-align: center;
  width: 64px;
  color: #282c34;
}
  
.square:focus {
  outline: none;
}
  
.kbd-navigation .square:focus {
  background: #ddd;
}