.square {
  background: #a5a3a3;
  border: 2px solid #282c34;
  float: left;
  font-size: 26px;
  font-weight: bold;
  line-height: 14px;
  height: 32px;
  margin-right: 2px;
  margin-top: -2px;
  margin-bottom:2px;
  margin-left: -2px;
  padding: 0;
  text-align: center;
  width: 32px;
  color: #282c34;
}
  
.square:focus {
  outline: none;
}
  
.kbd-navigation .square:focus {
  background: #ddd;
}