.square {
  background: #a5a3a3;
  border: 0.5vw solid #282c34;
  float: left;
  font-size: 5.5vw;
  font-weight: bold;
  line-height: 5vw;
  height: 9vw;
  margin-right: 0.2vw;
  margin-top: -0.2vw;
  margin-bottom:0.2vw;
  margin-left: -0.2vw;
  padding: 0;
  text-align: center;
  width: 9vw;
  color: #282c34;
}
  
.square:focus {
  outline: none;
}
  
.kbd-navigation .square:focus {
  background: #ddd;
}